/* IMPORTS */

@import 'variables';
@import 'mixins';

/* SCSS */

header {
  background: $theme-900;
  display: block;
  height: $header-height;
  position: static;
  width: 100%;
  @include box-shadow($theme-300);
}

.bars {
  color: $link-color;
  cursor: pointer;
  display: inline-block;
  height: $header-height;
  line-height: $header-height;
  @include transition(0.4s);

  &:hover {
    background: $theme-800;
  }
}

