/* IMPORTS */

@import 'variables';
@import 'mixins';

/* SCSS */

header {
  background: $first-color;
  display: block;
  height: $header-height;
  width: 100%;
}

nav {
  display: block;

  ul {
    display: inline-block;

    li {
      display: inline-block;
      float: left;

      a {
        color: $link-color;
        display: block;
        line-height: $header-height;
        text-decoration: none;
        @include transition(0.4s);

        &:active, &:hover {
          background: darken($first-color, 5%);
        }
      }
    }
  }

  ul.nav_left {
    float: left;
  }

  ul.nav_right {
    float: right;
  }
}

