/* 0. MARGIN XS */

.margin-xs {
  margin: 10px;
}

.margin-xs-top {
  margin-top: 10px;
}

.margin-xs-right {
  margin-right: 10px;
}

.margin-xs-bottom {
  margin-bottom: 10px;
}

.margin-xs-left {
  margin-left: 10px;
}

/* 1. MARGIN SM */

.margin-sm {
  margin: 20px;
}

.margin-sm-top {
  margin-top: 20px;
}

.margin-sm-right {
  margin-right: 20px;
}

.margin-sm-bottom {
  margin-bottom: 20px;
}

.margin-sm-left {
  margin-left: 20px;
}

/* 2. MARGIN LG */

.margin-lg {
  margin: 30px;
}

.margin-lg-top {
  margin-top: 30px;
}

.margin-lg-right {
  margin-right: 30px;
}

.margin-lg-bottom {
  margin-bottom: 30px;
}

.margin-lg-left {
  margin-left: 30px;
}