/* IMPORTS */

@import 'variables';
@import 'mixins';

/* SCSS */

nav {
  background: $theme-800;
  width: 0;
  //@include transition(0.4s);

  ul {
    display: block;

    li {
      display: block;
      height: $navigation-height;

      a {
        color: $link-color;
        display: block;
        height: $navigation-height;
        line-height: $navigation-height;
        text-decoration: none;
        @include transition(0.4s);

        &:hover {
          background: $theme-700;
        }
      }
    }
  }

  &.open {
    width: $navigation-width-open;
  }
}

