/* 0. MARGIN XS */

.padding-xs {
  padding: 10px;
}

.padding-xs-top {
  padding-top: 10px;
}

.padding-xs-right {
  padding-right: 10px;
}

.padding-xs-bottom {
  padding-bottom: 10px;
}

.padding-xs-left {
  padding-left: 10px;
}

/* 1. MARGIN SM */

.padding-sm {
  padding: 20px;
}

.padding-sm-top {
  padding-top: 20px;
}

.padding-sm-right {
  padding-right: 20px;
}

.padding-sm-bottom {
  padding-bottom: 20px;
}

.padding-sm-left {
  padding-left: 20px;
}

/* 2. PADDING LG */

.padding-lg {
  padding: 30px;
}

.padding-lg-top {
  padding-top: 30px;
}

.padding-lg-right {
  padding-right: 30px;
}

.padding-lg-bottom {
  padding-bottom: 30px;
}

.padding-lg-left {
  padding-left: 30px;
}