<header>
    <nav class="nav nav--default">
        <ul class="nav_left">
            <li class="nav_item"><a class="padding-xs-left padding-xs-right" href="#">Drivr {{fa-icon 'car'}}</a></li>
        </ul>
        <ul class="nav_right">
            <li class="nav_item"><a class="padding-xs-left padding-xs-right" href="#">Login {{fa-icon 'sign-in'}}</a></li>
            <li class="nav_item"><a class="padding-xs-left padding-xs-right" href="#">Register {{fa-icon 'user-plus'}}</a></li>
        </ul>
    </nav>
</header>