<nav class="{{if isOpen 'open'}}">
    <ul>
        <li>
            {{#link-to 'dashboard'}}
                {{fa-icon 'tachometer' class='padding-sm-left padding-sm-right'}}
                <span>Dashboard</span>
            {{/link-to}}
        </li>
    </ul>
</nav>